.about {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* canh giữa */
    bottom: -100px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* 🔥 Mốc cho icon */
}

.about-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border: 10px solid #fff;
}

.about-img:first-child {
    margin-right: 30px;
}

.about-icon {
    position: absolute;
    bottom: -45px; /* nằm dưới chân ảnh */
    left: 50%;
    transform: translateX(-50%); /* canh giữa */
    
    height: 100px;
    width: 100px;
    color: red;
    font-size: 72px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 5px;
    background: #fff;
    border-radius: 999px;
}
