@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

.hero {
  height: calc(100vh - 60px);
  background: #ccc;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}



.script {
  font-family: 'Allura', cursive;
  font-size: 80px;
  color: #f5d37a;
}


.overlay h1 {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  line-height: 1.2;
  margin: 0;
}

.overlay p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  opacity: 0.9;
}
